### Build directories ###
/target/
!/**/src/main/**/target/
!/**/src/test/**/target/

### IDE ###
# IntelliJ
.idea/
!.idea/vcs.xml
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

### Logs ###
/logs/
*.log

### Application ###
/src/main/resources/application.properties
*.properties
*.yml
!src/main/resources/application.*

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### System ###
.DS_Store
Thumbs.db